/* ==========================
   NOW PLAYING
========================== */

.nowPlaying{

    position:fixed;

    bottom:30px;
    right:30px;

    display:flex;
    align-items:center;
    gap:16px;

    padding:16px 20px;

    border-radius:18px;

    background:rgba(255,255,255,.05);

    backdrop-filter:blur(20px);

    border:1px solid rgba(255,255,255,.08);

    box-shadow:0 0 35px rgba(0,217,255,.08);

    z-index:999;

}

.musicDot{

    width:10px;
    height:10px;

    border-radius:50%;

    background:#00ff88;

    animation:musicPulse 1.5s infinite;

}

.musicInfo span{

    display:block;

    font-size:10px;

    color:#7c8799;

    letter-spacing:2px;

    font-family:"JetBrains Mono";

    margin-bottom:5px;

}

.musicInfo h4{

    font-size:15px;

    margin:0;

}

.musicInfo p{

    margin-top:4px;

    color:#00D9FF;

    font-size:13px;

}

.musicIcon{

    font-size:20px;

    color:#00D9FF;

}

@keyframes musicPulse{

    0%,100%{

        transform:scale(1);

        opacity:1;

    }

    50%{

        transform:scale(1.5);

        opacity:.4;

    }

}